.col-md-12{
    text-align: center;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 
}

#contact{
    padding-bottom: 60px;
}

/*background*/
.bg {
    position: relative;    
}
